  #desk-1 {
      /* top: -90px; */
      top:-500px;
      left: 350px;
      opacity: 0;
  }
  
  #desk-2 {
      top: 400px;
      left: 250px;
      opacity: 0;
  }
  
  #desk-3 {
      left: 1160px;
      bottom: 300px;
      opacity: 0;
  }
  
  #desk-4 {
      left: 720px;
      top: 340px;
      opacity: 0;
  }
  
  #person-1 {
      top: 0px;
      left: 0px;
      opacity: 0;
  }
  
  #person-2 {
      /* top: 252px;
      left: 835px; */
       top: 452px;
       left: 935px;
       opacity: 0;
  }
  
  #person-3 {
      top: 70px;
      left: 280px;
      opacity: 0;
  }
  
  #person-4 {
      top: -20px;
      left: 350px;
      opacity: 0;
  }
  
  #cars {
      bottom: 69px;
      left: 32px;
      opacity: 0;
  }
  
  .object {
      position: absolute;
  }
  
  #way {
      left: 425px;
      top: 70px;
      opacity: 0;
  }
  
  #floor {
      top: 60px;
      left: 285px;
      opacity:0;
  }
  

  #big-slogan {
      font-family: 'Roboto-Black', Fallback, sans-serif;
      font-size: 35px;
      color: white;
      letter-spacing: 3px;
      padding-left: 70px;
      padding-top: 50px;
      height: 65%;
  }

  #leftCornerText{
      font-family: 'Roboto-Black', Fallback, sans-serif;
      font-size: 14px;
      color: white;
      letter-spacing: 3px;
      padding-left: 70px;
      margin-bottom: 0px;
      -webkit-text-decoration-line: overline; /* Safari */
      text-decoration-line: overline; 
  }

  .textPage1{
      opacity: 0;
  }