#page18 .page-content-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
}

#cardWrapperP18{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-top : 4%;
    padding-bottom: 16%;
}


.cardP18{
    height: 45%;
    width: 30%;
    background-image: url("../../images/18/");
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}

.cardP18 .cardBoxP18 {
    height: 85%;
    background-image: url("../../images/18/box.png");
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top:1%;
    font-weight: 700;
}
.cardP18 .buttonClickHere18 {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonClickHere18 button {
    background-image:url('../../images/18/Artboard\ 66@6x.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    border: none;
    background-color: Transparent;
    color: white;
    font-size: 20%px;
    font-weight: 500;
    width: 40%;
    letter-spacing: 0.4px;
}

.buttonClickHere18 button:hover{
    cursor: url("../../images/18/Artboard\ 66\ copy\ 7@6x.png"), pointer;
}
#cardWrapperP18 div:first-child div{
    padding-top: 6%;
}

.cardBoxP18 img {
    position: absolute;
}

.cardBoxP18 p {
    position: absolute;
}


#cardImage1P18{
    height: 18%;
    width:12%;
    top:14%;
    left:16%;
}

#speakers1P18{
    top:23%;
    left:16%;
    width: 5%;
    height: 7%;
}

#cardImage2P18 {
    height: 16%;
    width: 9%;
    top: 16%;
    left: 46%;
}

#cardWrapperP18 div:nth-child(2) div:first-child p{
    color: rgb(5, 8, 124) !important;
    font-size: 10px;
    top:17%;
    left:48%;
}

#stopP18 {
    height: 6%;
    width: 6%;
    top: 26%;
    left: 54%;
}

#cardImage3P18 {
    height: 16%;
    width: 18%;
    top: 17%;
    left: 69%;
}

#cardImage4P18 {
    height: 15%;
    width: 15%;
    top: 51%;
    left: 16%;
}

#backgroundCyanP18 {
    height: 8%;
    width: 25%;
    top: 61%;
    left: 38%;
}

#cardImage5P18 {
    height: 13%;
    width: 20%;
    top: 53%;
    left: 40%;
}

#people1CardP18 {
    height: 15%;
    width: 24%;
    top: 52%;
    left: 65%;
}

#modalP18 {
    padding-top: 10.2% !important;
}

#modalP18 .modal-dialog {
    width: 100% !important;
    height: 91% !important;
}

#modalP18 .modal-dialog .modal-content {
    width: 246% !important;
    left: -73%;
    height: 100% !important;
    border-radius: 0px;
    padding-left: 45%;
    padding-right: 46%;
    padding-top: 15%;
    padding-bottom: 25%;
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
}

#modal-headerP18{
    background-image: url("../../images/18/box\ header.png");
    background-size: 100% 100%;
    border-radius: 0px;
}
#modal-headerP18 h5{
    width: 100%;
    text-align: center;
    color:white;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px !important;
}
#modal-bodyP18{
    background-image: url("../../images/18/box\ content.png");
    background-size: 100% 100%;
    border-radius: 0px;
    height: 60%;
}

body.modal-open {
    overflow: hidden !important;
}

#modal-bodyP18{
    display: flex;
}

#imageCardModelContainerP18 {
    width: 45%;
    /* background-image: url("../../images/19/Artboard\ 65@6x\ 2.png");
    background-size: 100% 100%; */
    display: flex;
    justify-content: center;
}

*:focus {
    outline: 0 !important;
}

#textCardModelP18 {
    font-weight: 400;
    color: rgb(85, 69, 230)
}

#textCardModelP18 {
    width: 55%;
    font-size: 18px;
    text-align: justify;
}

/* #imageCardModelP18{
    width: 70%;
    height: 70%;
    margin-top: 12%;
}

#textCardModelP18{
    width: 55%;
    font-size: 18px;
    padding-right: 7.5%;
    text-align: justify;
    padding-top: 3%;
    padding-left: 2%;
} */

/* #imageCardModelP18 {
    width: 84%;
    height: 72%;
    margin-top: 8%;
}

#textCardModelP18 {
    width: 55%;
    font-size: 18px;
    padding-right: 6%;
    text-align: justify;
    padding-top: 3%;
    padding-left: 2%;
} */

/* #imageCardModelP18 {
    width: 90%;
    height: 55%;
    margin-top: 16%;
}

#textCardModelP18 {
    width: 55%;
    font-size: 18px;
    padding-right: 8.45%;
    text-align: justify;
    padding-top: 5%;
    padding-left: 4%;
} */

/* #imageCardModelP18 {
    width: 100%;
    height: 50%;
    margin-top: 24%;
}

#textCardModelP18 {
    width: 55%;
    font-size: 18px;
    padding-right: 8.45%;
    text-align: justify;
    padding-top: 3%;
    padding-left: 4%;
    margin-left: 2%;
} */

/* #imageCardModelP18 {
    width: 100%;
    height: 70%;
    margin-top: 12%;
} */

/* #textCardModelP18 {
    padding-right: 7.5%;
    padding-top: 3%;
    padding-left: 5%;
} */

#modal2P18 {
    padding-top: 10.2% !important;
}

#modal2P18 .modal-dialog {
    width: 100% !important;
    height: 100% !important;
}

#modal2P18 .modal-dialog .modal-content {
    width: 246% !important;
    left: -73%;
    height: 91% !important;
    border-radius: 0px;
    padding-left: 45%;
    padding-right: 46%;
    padding-top: 15%;
    padding-bottom: 25%;
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
}

#modal2-headerP18 {
    background-image: url("../../images/18/box\ header.png");
    background-size: 100% 100%;
    border-radius: 0px;
}

#modal2-headerP18 h5 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px !important;
}

#modal2-bodyP18 {
    background-image: url("../../images/18/box\ content.png");
    background-size: 100% 100%;
    border-radius: 0px;
    height: 90%;
}


#modal2-bodyP18 {
    display: flex;
    flex-direction: column;
    font-size: 18.4px;
    font-weight: 400;
    color: rgb(85, 69, 230);
    text-align: justify;
}

#upperSectionModal2{
    height: 15%;
    padding-left: 8%;
    padding-right: 8%;
}

#lowerSectionModal2{
    height: 85%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3.5%;
    display: flex;
}

#lowerSectionModal2 div:first-child{
    width: 45%;
}

#lowerSectionModal2 div:nth-child(2) {
    width: 55%;
}

#imageCard2ModelP18{
    width: 85%;
    height: 60%;
    margin-top: 30%;
}