#page5 .page-content-wrapper{
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

#page5 #middle-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 35px;
    color: #126dae;
}

#page5 #middle-wrapper p {
    font-size: 35px;
    font-weight: bold;
}

#page5 #middle-wrapper span {
    font-size: 37px;
    font-weight: bold;
}

#page5 #middle-wrapper #flagStaffP5 {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    margin-top: 4px;
}

#page5 #middle-wrapper #aseanCountryFlagsP5 {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    margin-top: -11px;
}

#page5 #left-wrapper, #page5 #right-wrapper {
    position: absolute;
    top: 45px;
    width: 304px;
    height: 361px;
    background-image: url('../../images/05/Artboard\ 65\ copy\ 2@5x.png');
}

#page5 #left-wrapper {
    left: 58px;
}

#page5 #right-wrapper {
    right: 58px;
}

#page5 #left-wrapper, #page5 #right-wrapper, #page5 #bottom-wrapper {
    padding-top: 19px;
    padding-left: 28px;
    padding-right: 28px;
}

#page5 #left-wrapper p, #page5 #right-wrapper p, #page5 #bottom-wrapper p {
    color: white;
    font-size: 21px;
    text-align: justify;
    line-height: 1.2;
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../../font/RobotoCondensed-Bold.woff') format("woff");
}

#page5 #left-wrapper span {
    font-weight: bold;
}

#page5 #bottom-wrapper {
    background-image: url('../../images/05/Artboard\ 65\ copy\ 6@5x.png');
    width: 1108px;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 436px;
}

#page5 #left-wrapper img, #page5 #right-wrapper img, #page5 #bottom-wrapper img {
    position: absolute;
    left: 28px;
    margin-top: -10px;
}