#page26 .page-content-wrapper {
    background-image: url(../../images/logo/shutterstock_182632013.jpg) !important;
}

#documenntPage26 {
    left: 100px;
    top: 300px;
    position: absolute;
    width: 25%
}

img#cardPage26 {
    width: 60%;
    left: 430px;
    top: 320px;
    position: absolute;
}

img#bikeLeftPage26 {
    position: absolute;
    width: 14%;
    left: 370px;
    top: 30px;
}

img#bikeRightPage26 {
    position: absolute;
    width: 14%;
    left: 800px;
    top: 30px;
}

#vsPage26 {
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    left: 650px;
    top: 100px;
    color: #2067a4;
}

#leftBallonsPage26 {
    position: absolute;
    left: 200px;
    top: 60px;
    width: 16%;
}

#rightBallonsPage26 {
    position: absolute;
    left: 960px;
    top: 60px;
    width: 16%;
}

.BallonsTextPage26 {
    position: absolute;
    text-align: center;
    color: #000077;
}

#leftBallonsTextPage26 {
    left: 220px;
    top: 90px;
}

#rightBallonsTextPage26 {
    left: 1000px;
    top: 90px;
}

#cardTitlePage26 {
    /* opacity: 0; */
    position: absolute;
    left: 460px;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 99999;
}

p#cardContentPage26 {
    text-align: justify;
    width: 55%;
    position: relative;
    left: 460px;
    top: 370px;
    color: white;
    font-size: 19px;
    line-height: 25px;
    /* opacity: 0; */
}