#page14 .page-content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
}

#page14 .page-content-wrapper>* {
    position: absolute;
}

#grassBackgroundP14 {
    width: 85%;
    height: 75%;
    top: 3%;
    left: 10%;
    opacity: 0;
}

#girlOndeskP14 {
    width: 30%;
    height: 37%;
    top: 650px;
    opacity: 0;
    left: 15%;
}

#closeCabinetP14 {
    width: 20%;
    height: 35%;
    top: 660px;
    left: 53%;
}

#certificateP14 {
    width: 16%;
    height: 18%;
    top: 23%;
    left: 850px;
    opacity: 0;
}

#folderP14 {
    width: 8%;
    height: 8%;
    top: 28%;
    left: 68%;
    opacity: 0;
}

#magnifyingP14 {
    width: 6%;
    height: 8%;
    top: 30%;
    left: 70%;
    opacity: 0;
}

#gear1P14 {
    width: 8%;
    height: 8%;
    top: 8%;
    left: 80%;
}

#gear2P14 {
    width: 6%;
    height: 6%;
    top: 65%;
    left: 78%;
}

#bubbleTextP14 {
    width: 45%;
    height: 28%;
    background-image: url("../../images/14/Artboard\ 67@6x.png");
    background-size: 100% 100%;
    text-align: justify;
    text-justify: inter-word;
    left: 10%;
    top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    opacity: 0;
}

#bubbleTextP14 p {
    color: white;
    font-size: 18px;
}