#page2 .page-content-wrapper {
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
    width: 100%;
    height: 100%;
}

#upper-text-wrapper {
    background-image: url('../../images/02/Artboard\ 65\ copy\ 7.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 115%;
    height: 0;
    padding-top: 53.42%;
    margin-top: -180px;
    margin-left: -53px;
}

#upper-text-wrapper > p:first-child {
    margin-top: -370px;
    margin-left: 210px;
}

#upper-text-wrapper > p:nth-child(2) {
    margin-top: -21px;
    margin-left: 215px;
}

#upper-text-wrapper > p {
    font-size: 25px;
    color: white;
}

#background-behind-girl > img {
    margin-top: -377px;
    margin-left: 140px;
    width: 80%;
}

#girl-center > img {
    margin-top: -630px;
    margin-left: 260px;
}

#table > img {
    margin-top: -497px;
    margin-left: 255px;
    width: 60%;
}

#stuff-on-table > img {
    margin-top: -935px;
    margin-left: 300px;
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../../font/RobotoCondensed-Bold.woff') format("woff");
}

#LeftPros > p, #RightCons > p {
    color: white;
    width: fit-content;
    font-family: RobotoCondensed-Bold;
}

#LeftPros > img:first-child {
    margin-top: -1350px;
    margin-left: -125px;
}

#LeftPros > img:nth-child(3) {
    margin-top: -300px;
    margin-left: -88px;
}

#LeftPros > p:nth-child(2) {
    margin-top: -682px;
    margin-left: 167px;
    font-size: 50px;
    cursor: pointer;
}

#LeftPros > p:nth-child(4) {
    margin-top: -330px;
    margin-left: 204px;
    font-size: 12px;
    cursor: pointer;
}

#RightCons > img:first-child {
    margin-top: -1388px;
    margin-left: 686px;
}

#RightCons > img:nth-child(3) {
    margin-top: -301px;
    margin-left: 670px;
}

#RightCons > p:nth-child(2) {
    margin-top: -698px;
    margin-left: 944px;
    font-size: 50px;
    cursor: pointer;
}

#RightCons > p:nth-child(4) {
    margin-top: -331px;
    margin-left: 963px;
    font-size: 12px;
    cursor: pointer;
}