 #page47 .page-content-wrapper {
     background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
     width: 100%;
     height: 100%;
 }
 
 #blueAreaPage47 {
     position: absolute;
     width: 1230px;
     height: 300px;
     background: rgb(0, 0, 0, 0);
     top: 120px;
 }
 
 #titlePage47 {
     position: absolute;
     font-weight: bold;
     font-size: 50px;
     color: #0d4a8a;
     top: 5px;
     left: 320px;
     opacity: 0;
 }
 
 #blueAreaPage47 div {
     color: white;
     font-size: 23px;
     padding-bottom: 20px
 }
 
 #blueAreaPage47 {
     padding-left: 150px;
     padding-top: 50px;
 }
 
 #blueAreaPage47 span {
     color: #eab347;
 }
 
 .hand {
     width: 40px;
     position: absolute;
 }
 
 #hand01Page47 {
     left: 80px;
     top: 60px;
 }
 
 #hand02Page47 {
     left: 80px;
     top: 115px;
 }
 
 #hand03Page47 {
     left: 80px;
     top: 200px;
 }
 
 .socialNetPage47 {
     width: 4%;
     top: 450px;
     position: absolute;
 }
 
 #twPage47 {
     left: 160px;
 }
 
 #inPage47 {
     left: 500px;
 }
 
 #fbPage47 {
     left: 830px;
 }
 
 .socialTextPage47 {
     position: absolute;
     top: 460px;
     font-weight: bolder;
 }
 
 #socialTextTwPage47 {
     left: 220px;
 }
 
 #socialTextInPage47 {
     left: 560px;
     top: 450px;
 }
 
 #socialTextFbPage47 {
     left: 890px;
     top: 450px;
 }
 
 #informationPage47 {
     position: absolute;
     top: 520px;
     left: 160px;
     font-size: 12px;
     width: 72%;
     text-align: justify;
 }
 
 #blueBg {
     width: 100%;
     height: 35%;
     top: 120px;
     position: absolute;
     opacity: 0;
 }
 
 #infoLine01Pag47 {
     opacity: 0;
 }
 
 #infoLine02Pag47 {
     opacity: 0;
 }
 
 #infoLine03Pag47 {
     opacity: 0;
 }
 
 .hand {
     opacity: 0;
 }
 
 .socialNetPage47 {
     opacity: 0;
 }
 
 .socialTextPage47 {
     opacity: 0;
 }
 
 #informationPage47 {
     opacity: 0;
 }