#page19 .page-content-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../images/logo/shutterstock_182632013.jpg') !important;
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

.cardWrapper{
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.cardHeader{
    height: 12%;
    display: flex;
    background-image: url('../../images/18/box\ header.png');
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

.cardHeader .cardTitle{
    width: 85%;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

.cardHeader img{
    height: 30%;
    width: 3%;
}

.cardBody{
    height: 88%;
    display: flex;
    background-image: url("../../images/18/box\ content.png");
}

#cardImageP19{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardTextP19{
    width: 60%;
    text-align: justify;
    padding-top: 10%;
    padding-right: 6%;
    font-size: 17px;
    color: rgb(5, 8, 124) !important;
    font-weight: 500;
}

#cardImageP19 img{
    width: 65%;
    height: 55%;
}