.content-wrapper{
    height: 100% !important;
    position: relative !important;
}

#carouselExampleControls {
    height: 100% !important;
}

.carousel-inner{
    height: 100% !important;
}

.page-content-wrapper {
    height: 100% !important;
}

.carousel-item{
    height: 100%;
}

.carousel-control-button{
    height: 55%;
}

.carousel-control-prev{
    margin-left: -5%;
}
.carousel-control-next {
    margin-right: -5%;
}

.nospace {
    font-size: 0;
}